# 1. Ignore EVERYTHING inside the models folder by default (The Whitelist approach)
models/*

# 2. BUT punch a hole to allow the tiny DVC pointers and the folder's internal gitignore
!models/*.dvc
!models/.gitignore

# 3. Allow the root DVC pipeline files
!dvc.lock
!dvc.yaml